.heade {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    z-index: 999;
    font-family: "Open Sans",sans-serif;
    border-top: 1px solid #fffefe;
}

.background_white {
    background: rgba(196, 94, 86, 0.63)  none repeat scroll 0% 0%;
}

.heade_button {
    position: absolute;
    left: 100%;
    top: 10px;
    width: 80px;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
    border-left: 1px solid #fffefe;
}


.navbar-inverse {
    background-color: #B32216;

.clr{
    
    background-color:#B32216;
    
}
    
    sizee{
        font-size: 14px;
        
        
    }
 .mn{
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.mn li {
    
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}